{% for entry in entries %}
<section class="mt-8 first:mt-0 flex items-start">
  <div class="flex-1 min-w-half">
    <h3>{{ entry.data.title }}</h3>
    <div class="text-gray-500 -mt-1">{{ entry.data.subtitle }}</div>
    <ul class="list-none whitespace-nowrap overflow-x-scroll">
      {% for skill in entry.data.skills %}
      <span
        class="inline-block mr-2 my-2 px-2 py-1 text-sm bg-primary text-bg p-2 rounded-md"
        >{{ skill }}</span
      >
      {% endfor %}
    </ul>
    <div class="entry__content flex-1 max-w-prose">
      {{ entry.templateContent }}
    </div>
  </div>
  {% if entry.data.image %}
  <img
    src="{{ entry.data.image }}"
    alt=""
    class="hidden md:block entry__img sm:ml-4 rounded-xl opacity-50 self-center"
  />
  {% endif %}
</section>
{% endfor %}
