{% for entry in entries reversed %}
<section class="group mt-8 first-type:mt-0 flex">
  <div class="flex-2 min-w-half md:mr-8">
    <!-- prettier-ignore -->
    <h3>
      {% if entry.data.link != nil and entry.data.link != '' %}
        <a class="no-underline text-current hover:text-primary" href="{{ entry.data.link }}" target="_blank">{{ entry.data.title }} 🔗</a>
      {% else %}
        {{ entry.data.title }}
      {% endif %}
    </h3>
    <div class="text-gray-500 -mt-1">
      <!-- prettier-ignore -->
      {% if entry.data.subtitle != nil and entry.data.subtitle != '' %}
        {{ entry.data.subtitle }}
      {% elsif entry.data.startDate != nil and entry.data.startDate != '' %}
        {% if entry.data.endDate != nil and entry.data.endDate != '' %}
          {{ entry.data.startDate | date }} - {{ entry.data.endDate | date }}
        {% else %}
          {{ entry.data.startDate | date }} - Present
        {% endif %}
      {% endif %}
    </div>
    <div class="no-scrollbar--fade-wrap">
      <ul
        class="list-none whitespace-nowrap mt-1 pb-3 no-scrollbar no-scrollbar--fade"
      >
        {% for skill in entry.data.skills %}
        <span
          class="inline-block mr-2 px-2 py-1 text-xs bg-primary text-bg p-2 rounded-md"
          >{{ skill }}</span
        >
        {% endfor %}
      </ul>
    </div>
    <div class="entry__content flex-1 max-w-prose">
      {{ entry.templateContent }}
    </div>
  </div>
  {% if entry.data.image %}
  <div
    class="flex-1 justify-center relative hidden md:flex opacity-50 group-hover:opacity-100 transition-opacity duration-500"
  >
    <div
      class="absolute w-full max-w-sm h-full flex items-center justify-center"
    >
      <img
        class="max-h-full"
        src="{{ entry.data.image }}"
        alt="{{ entry.data.imageAltText }}"
        loading="lazy"
      />
    </div>
  </div>
  {% endif %}
</section>
{% endfor %}
