{% for entry in entries %}
<section class="group mt-12 first-type:mt-0 flex">
  <div class="flex-2 min-w-half md:mr-8">
    <h3>{{ entry.data.title }}</h3>
    <div class="text-gray-500 -mt-1">{{ entry.data.subtitle }}</div>
    <ul class="list-none whitespace-nowrap overflow-x-scroll mt-1 mb-3">
      {% for skill in entry.data.skills %}
      <span
        class="inline-block mr-2 px-2 py-1 text-xs bg-primary text-bg p-2 rounded-md"
        >{{ skill }}</span
      >
      {% endfor %}
    </ul>
    <div class="entry__content flex-1 max-w-prose">
      {{ entry.templateContent }}
    </div>
  </div>
  {% if entry.data.image %}
  <div
    class="flex-1 justify-center relative hidden md:flex opacity-50 group-hover:opacity-100 transition-opacity duration-500"
  >
    <div
      class="absolute w-full max-w-sm h-full flex items-center justify-center"
    >
      <img
        class="max-h-full"
        src="{{ entry.data.image }}"
        alt="{{ entry.data.imageAltText }}"
        loading="lazy"
      />
    </div>
  </div>
  {% endif %}
</section>
{% endfor %}
