<footer class="test leading-5 flex justify-between">
  <div class="leading-loose">
    <!-- <button>Resume</button> -->
    {% if data.phone %}
    <a
      href="tel:{{ data.phone }}"
      class="no-underline text-current hover:text-primary mr-4"
      >{{ data.phone }}</a
    >
    {% endif %} {% if data.email %}
    <a
      href="mailto:{{ data.email }}"
      class="no-underline text-current hover:text-primary"
      target="_blank"
      >{{ data.email }}</a
    >
    {% endif %}
  </div>
  <div class="flex flex-wrap items-center justify-end">
    {% for icon in data.socialIcons %}
    <a
      class="button ml-4 first:ml-0 transform hover:rotate-12 hover:scale-110 hover:text-primary transition duration-300"
      href="{{ icon.link }}"
      target="_blank"
      >{% icon icon.name %}</a
    >
    {% endfor %}
  </div>
</footer>
