<header class="gradient-border border-solid border-16 p-4 relative">
  <h1 class="absolute m-0 px-4 top-0 transform -translate-y-6 leading-8 bg">
    {{ data.firstName }} {{ data.lastName }}
  </h1>
  <figure class="flex">
    <div class="flex-1">
      <p>
        Hello! My name is {{ data.firstName }}, and I am a web developer. I graduated from
        DevMountain - a coding bootcamp - in 2015, and have been building things
        ever since. I currently work with FedEx using Angular. I also have a lot of
        experience with React, and love JavaScript in general.
      </p>
      <p>If you are interested in working with me, please reach out!</p>
    </div>
    <img src="" alt="">
  </figure>
</header>
