<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css" />
    <style>
      :root {
        --color-primary: {{ data.colors.primary }};
        --color-primary-light: {{ data.colors.primaryLight }};
        --color-accent: {{ data.colors.accent }};
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ data.documentTitle }}</title>
  </head>
  <body
    class="bg-bg px-8 text-black sm:px-16 lg:px-32 py-8 sm:py-24 font-sans flex flex-col min-h-screen"
  >
    <div hidden>{% iconsprite %}</div>
    {{ content }}
  </body>
</html>
