@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-6xl;
    font-size: clamp(2rem, 8vw, 4rem);
  }
  h2 {
    /* inline-block makes "width: 100%" on pseudo elements equal to text width */
    @apply text-5xl font-thin relative inline-block;
  }
  h2:before,
  h2:after {
    @apply bg-primary;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    bottom: 4px;
    z-index: -1;
  }
  h2:before {
    width: 100vw;
    transform: translateX(-100vw);
  }
  h2:after {
    width: 100%;
  }
  h3 {
    @apply text-2xl font-medium;
  }
  a {
    @apply underline text-primary;
  }
  a.button {
    @apply no-underline text-current;
  }
  p + p {
    @apply mt-4;
  }
  ul {
    @apply list-disc list-inside;
  }
}

body > header {
  border-image-slice: 1;
  border-image-source: linear-gradient(
    to bottom right,
    theme("colors.primary.DEFAULT"),
    theme("colors.primary.light")
  );
}

.profile-image__wrap {
  min-width: 200px;
  max-width: 40vw;
}

.entry__content ul {
  @apply mt-2;
}
